.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_btn {
    color: #fff;
    opacity: 0.6;
    padding: 10px 8px;
    background: transparent;
    border: none;
    font-family: var(--title);
    transition: 0.15s ease-in-out;
    cursor: pointer;
    font-size: 12pt;
}
.nav_btn:hover {
    opacity: 1;
}

@media (width <= 1100px) {
    
}