.container {
    position: fixed;
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.2) 60%, rgba(0,0,0,0) 100%);
    height: 70px;
    color: #fff;
    padding: 0px 4px 16px 0px;
    transition: 0.3s background ease-in-out;
}
.container_active {
    background-color: rgb(10, 10, 10);
    padding-bottom: 4px;
}

.nav_block {
    display: flex;
    align-items: center;
    gap: 7rem;
}

.title_container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: var(--page-marg);
}
.logo {
    width: 16px;
    height: 16px;
    background-color: #fff;
}
.title {
    margin: 0;
    font-family: mainFont;
    pointer-events: none;
    user-select: none;
}