.container {
    color: #fff;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 520px;
    position: relative;
    overflow: hidden;
}
.top_shadow {
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}
.bottom_shadow {
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%);
}

.container h2 {
    z-index: 2;
    font-family: var(--title);
    text-transform: uppercase;
    font-size: var(--title-size);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
}
.film_count {
    font-size: 72pt;
    font-family: var(--title);
    margin: 0;
    margin-left: var(--page-marg);
}
.film_count::after {
    content: '+ ';
    color: var(--color);
}
.par {
    font-size: 18pt;
    font-family: var(--text);
    margin: 0;
    margin-left: var(--page-marg);
}

.advantages {
    height: 100%;
    color: #fff;
    font-family: var(--text-reg);
    font-size: 18pt;
    margin: 0px var(--page-marg) 50px var(--page-marg);
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-end;
}
.advantage {
    font-size: var(--text-size);
    margin: 0;
    margin-bottom: 18px;

}
.advantage::before {
    content: '• ';
    color: var(--color);
    font-size: 16pt;
}

.subtitle {
    margin: 0;
    text-transform: uppercase;
    font-family: var(--text);
    margin-bottom: 2px;
}

.films_img {
    transform: translateX(0%) translateY(-10%) rotate(-30deg);
    filter: blur(2px);
    opacity: 0.35;
    user-select: none;
    pointer-events: none;
    z-index: 0;
    white-space: nowrap;
    position: absolute;
}
.films_img img {
    display: inline-block;
    width: 100%;
    height: auto;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@media (width <= 1340px) {
    .advantages {
        margin-left: 30px;
        width: 40%;
    }
    .film_count {
        font-size: 44pt;
    }
}

@media (width <= 900px) {
    .container {
        height: auto;
    }
    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .film_count, .par{
        margin: 0;
    }
    .par {
        text-align: center;
    }
    .advantages {
        text-align: center;
        align-self: center;
        justify-content: center;
        margin: 20px;
        width: 60%;
    }
    .films_img {
        transform: scale(1.5) translateY(20%) rotate(-30deg);
    }
}
@media (width <= 550px) {
    .advantages {
        transform: scale(0.9);
        width: 80%;
    }
    .container h2 {
        font-size: 16pt;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
@media (width <= 550px) {
    .container h2 {
        font-size: 14pt;
    }
}
@media (width <= 350px) {
    .container h2 {
        font-size: 12pt;
    }
    .film_count {
        font-size: 34pt;
    }
    .par {
        font-size: 12pt;
    }
    .subtitle {
        font-size: 18pt;
    }
}