body, html {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  background-color: var(--black);
}

@font-face {
  font-family: mainFont;
  src: url('./fonts/SF-Pro-Display-Bold.otf');
}
@font-face {
  font-family: titleFont;
  src: url('./fonts/SF-Pro-Display-Bold.otf');
}
@font-face {
  font-family: paragrafFont;
  src: url('./fonts/SF-Pro-Display-Medium.otf');
}
@font-face {
  font-family: regText;
  src: url('./fonts/SF-Pro-Display-Regular.otf');
}

:root {
  --text: paragrafFont;
  --title: titleFont;
  --text-reg: regText;
  --black: #191919;
  --page-marg: 8rem;
  --title-size: 28pt;
  --text-size: 12pt;
  --color: rgb(30, 215, 178);
}

@media (width <= 900px) {
    :root {
      --title-size: 22pt
    }
}
@media (width <= 600px) {
  :root {
    --page-marg: 3rem;
  }
}